@model RSA.Models.SecEntity

<div class "container">
    <div class"col-md-10 border-1">
        <form asp-action="Encryt" method="post">
            <h2>RSA Encryption & Decryption </h2>
            <hr />
            <div class="row">
                <div class="col-8">
                    <label asp-for="KeyName" class="control-label"></label>
                    <input asp-for="KeyName" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <label asp-for="KeysLocation" class="control-label"></label>
                    <input asp-for="KeysLocation" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label asp-for="PlainText" class="control-label"></label>
                    <input asp-for="PlainText" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <label asp-for="CipherText" class="control-label"></label>
                    <input asp-for="CipherText" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label asp-for="CipherToPlainText" class="control-label"></label>
                    <input asp-for="CipherToPlainText" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-6">
                        <label asp-for="TimeToEncrypt" class="control-label"></label>
                        <input asp-for="TimeToEncrypt" class="form-control disabled" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label asp-for="TimeToDecrypt" class="control-label"></label>
                        <input asp-for="TimeToDecrypt" class="form-control disabled" />
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" asp-action="GenerateKey" value="Generate Keys" class="btn btn-primary m-1" />
                <input type="submit" asp-action="Encrypt" value="Encrypt Data" class="btn btn-primary m-1" />
                <input type="submit" asp-action="Decrypt" value="Decrypt Data" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>